body {
    background-color: #4B0082;
    font-family: "Comic Sans MS";
}

h1 {
    font-size: 40px;
}

a {
    background-color: #FF69B4;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.profile {
    background-color: #FFF0FA;
    border: 5px dashed #FF4DB8;
    width: 500px;
    padding: 20px;
}
