body {
    background-color: #4B0082;
    font-family: "Comic Sans MS";
    background-image: url("images/UTDR_BG.gif");
    background-repeat: repeat;
    background-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 40px;
}

a {
    background-color: #FF69B4;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: transform 0.2s;
    display: inline-block;
}

a:hover {
    transform: scale(1.1);
}

.profile {
    background-color: #FFF0FA;
    border: 5px dashed #FF4DB8;
    width: 500px;
    padding: 20px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(0px);
    }
}
